body {
    font-family: 'Segoe UI', sans-serif;
    background-color: #f9fafb;
    color: #212529;
}

header {
    background-color: #0b0806;
    color: white;
    padding: 2rem 0.5rem;
    text-align: center;
}
/*test*/

.hero {
    padding: 3rem 1rem;
    text-align: center;
}

.feature {
    padding: 2rem;
    background-color: white;
    border-radius: 0.5rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
    height: 100%;
}

.icon {
    font-size: 3rem;
    margin-bottom: 1rem;
    color: #00d2c6;
}

.btn-primary {
    background-color: #00d2c6;
    border: none;
}

.btn-primary:hover {
    background-color: #018b85;
}

footer {
    background-color: #111;
    color: #ccc;
    padding: 0.2rem 0;
    text-align: center;
    margin-top: auto;
    display: flex;
    flex-direction: column;
}

.rechteDiv {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    justify-content: center;
}

.rechteElement {
    margin-right: 1%;
    margin-left: 1%;
}

.backButton {
    border: solid 1px black;
    border-radius: 10px;
    margin: 2%;
    padding: 0.4%;
    background-color: white;
    transition: all 0.15s;
}

.backButton:hover {
    transform: scale(1.05);
}

.insta-icon {
    display: flex; 
    justify-self: end; 
    margin: -2.5% 3% 0 0;
}

.insta-icon:hover {
    opacity: 0.8;
    transition: 0.7s;
}